*{box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}




body{max-width:100%;
background-color: black;
color:white;
}

.lightmode{
    background-color: white;
    color:black;
    
}

.nightmodeicon img{
    width:40px;
}
.nightmodeicon{
    background-color: white;
    border: solid  rgb(255, 244, 252) 3px;
    width:41px;
    height:41px;
    border-radius: 20px;
    position:absolute;
    right:10px;
    top:5px
    
}


.sidebar{position:absolute;
    top:0px;
    left: -3px;
    height:690px;
/* border:groove   rgb(230, 126, 201)  3px; */
width:100px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 22px;
cursor: pointer;

animation-name:sidebar;
animation-duration:5s;
animation-iteration-count: infinite;
animation-direction:alternate-reverse;

}
/* @keyframes sidebar {
    25%{border-color: yellow;}
    50%{border-color: orange;}
    75%{border-color: green;}
} */
.text1{
    position:absolute;
    top:0px;
    left:1px;
    color:  rgb(190, 61, 154);
    font-size: 25px;
   
}

.text2{
    position:absolute;
    top:15px;
    left:47px;
    color:  rgb(190, 61, 154);
}

.text3{
    position:absolute;
    top:40px;
    left:1px;
    color:  rgb(213, 42, 165);
}

.projectlist  {
    width:180px;
    height:auto;
    background-color: rgb(229, 204, 222);
    position:absolute;
    top:150px;
    display: none;
    z-index: 1;
    text-decoration: none;
    color: black;
    margin-left: 5%;
    border-radius:20px ;


   
}



.arrow{
    position: absolute;
    top:100px;
    left:30px;
    
}

.parent{position:absolute;
    
position:absolute;
left: 20%;
top: 15%;
width:70%;
height:70vh;


}
.body{
    
    position:absolute;
    left: 3%;
    top:-32px; 
    font-size: 20px;
    border: solid  rgb(229, 204, 222) 5px;
    padding:2%;
    height:auto;
    font-family: fantasy;
    box-shadow: 2px 2px 20px white;
   
}
.body h1{margin-bottom: -10px;}



.firstanimation{
 
    font-size: 56px;
    position:relative;
    top:440px;
    left:10px;


    

}
.codefeat{   
    margin-left: 20px;
     color: rgb(229, 204, 222);}


 .clock{
    position:absolute;
    top:480px;
    right:-30px;
    background-color: whitesmoke;
    width:310px;
    height:310px;
    border-radius: 50%;
    box-shadow: 20px ;
   
   
    
 } 
 .clock img{width:215px;
    margin-left:48px;
    margin-top:48px;
height: 215px;}   

#hour{
    position:absolute;
    top:80px;
    left:154.25px;
    height:75px;
    border:solid rgb(17, 17, 17) 1px;
    transform-origin:bottom ;
    
} 
 #minute{
    position:absolute;
    top:100px;
    left:154.55px;
    height:55px;
    border:solid rgb(17, 17, 17) 0.75px;
    transform-origin:bottom ;
    
}

#second{
    position:absolute;
    top:105px;
    left:155px;
    height:50px;
    border:solid rgb(17, 17, 17) 0.5px;
    transform-origin:bottom ;
    
}

.secondanimation{


    font-size: 56px;
    position:relative;
    top:180%;
    text-align: right;
     margin-right: 290px;


}

.animatefeat{   
    margin-left: 20px;
     color: rgb(229, 204, 222);}



     .d1{position:absolute;
         top:180%;
        left:5%;
         height:200px;
        width:90%;
        background-color: rgb(255, 244, 252);
   
    }
    .car1{position:absolute;
        top:-84px;
        left:0px;
        width:190px;
        
        
    }
    
    
    .car2{position:absolute;
        bottom:-50px;
        right:0px;
        width:190px;
        transform: rotateX(-20deg);
        
    }
    
    .bu4{
    width:160px;
    height:30px;
    position:absolute;
    left:32%;
   top:36%;}
    
    .b1{position:absolute;
    font-size: 20px;
     width:100px;
     padding-left:0;
    background-color: rgb(255, 244, 252);
    color: rgb(146, 139, 139);
    font-family: 'Times New Roman', Times, serif ;
    border: solid black thick;
    border-radius: 30px;
   
}
    
  
    .b2{position:absolute;
        left:50%;
        width:100px;
       font-size: 20px;
       background-color: rgb(255, 244, 252);
       color: rgb(146, 139, 139);
       font-family: 'Times New Roman', Times, serif ;
       border: solid black thick;
       border-radius: 30px;}



       .thirdanimation{

        position:absolute;
         top:220%;
        left:15%;
        font-size: 56px;
     
       }

       .gamefeat{   
        margin-left: 20px;
         color: rgb(229, 204, 222)}
    

         .joke{
            width:300px;
            height:200px;
            position:absolute;
            top:230%;
   
           left:15%;
          
            padding: 30px;
            
         }

         .joke button{
            box-shadow: 2px 2px 10px white;
            font-size: 20px;
            width:100px;
            padding-left:0;
            background-color:  rgb(229, 204, 222);
            color: rgb(146, 139, 139);
            font-family: 'Times New Roman', Times, serif ;
            border: solid black thick;
            border-radius: 30px;
            padding-left: 10px;;
         }

         #jokeshow{
            background-color: rgb(44, 233, 163);
            width:250px;
            height: 20px;
            display:none;
            position:absolute;
            top:52%;
            text-align: center;
            padding:4%;
            height:auto;
             font-size: 20px;
            background-color:   rgb(229, 204, 222);
            color:black;
            font-family: 'Times New Roman', Times, serif ;
            border: solid black 2px;
            border-radius: 30px;
            box-shadow: 2px 2px 20px white;
         }



         .quote{
            width:300px;
            height:200px;
            position:absolute;
            top:270%;
   
           right:5%;
          
            padding: 30px;
            
         }


         .quote button{
            box-shadow: 2px 2px 10px white;
            font-size: 20px;
            width:120px;
            padding-left:0;
            background-color:  rgb(229, 204, 222);
            color: rgb(146, 139, 139);
            font-family: 'Times New Roman', Times, serif ;
            border: solid black thick;
            border-radius: 30px;
            padding-left: 10px;;
         }

         #quoteshow{
          
            width:250px;
            height: 20px;
            display:none;
            position:absolute;
            top:52%;
            text-align: center;
            padding:4%;
            height:auto;
             font-size: 20px;
            background-color: rgb(229, 204, 222);
            color:black;
            font-family: 'Times New Roman', Times, serif ;
            border: solid black 2px;
            border-radius: 30px;
            box-shadow: 2px 2px 20px white;
         }





         @media screen  and (max-width:500px){

           .body {
            position:absolute;
            left:2%;
            width:200px;
            top:-90px;


            }
            
.firstanimation{
    position:absolute;
    top:420px;
}


.secondanimation{



    position:relative;
    top:130%;
  



}

.d1{
    position:absolute;
    top:120%
}



.thirdanimation{



    position:absolute;
    top:150%;
  



}




.joke{



    position:absolute;
    top:166%;
  



}



.quote{



    position:absolute;
    top:190%;
    right:2px;
  



}
         }