*{box-sizing: border-box;}

body{width:100vw;
min-width: 600px;}

.base{min-width:400px;
margin-top:1vw;
border:solid thick violet ;
width:90vw;
margin-left: 4vw;
height:90vw;
animation-name: a0;
animation-duration: 7s;
animation-iteration-count: infinite;
animation-fill-mode: forwards;
}
@keyframes a0{

    25%{border:solid thick palevioletred;}
    55%{border:solid thick rgb(152, 94, 206);}
    95%{border:solid thick rgb(158, 215, 241);}
    
    
    }

    .bgi{width:100%;
      position:relative;
    height:100%;}

.name{
   
     position:absolute;
     top:13.5vw;
     margin-left:27%;
     font-size:8vw;
     font-family: 'Lobster', cursive;;
     animation-name: a1;
     animation-duration: 7s;
     animation-iteration-count: infinite;
     color:violet;
     animation-fill-mode: forwards;
}
@keyframes a1{

25%{color: palevioletred;}
50%{color: rgb(165, 113, 213);}
75%{color: rgb(158, 215, 241);}


}
.body{border-radius: 40px;

   width:50vw;
   position:absolute;
   top:35vw;
left:25vw;


background-color: rgba(255,255,255,0.5);
}

input{width:35vw;

margin-left:10vw ;
border-radius: 30px;
font-size:18px;
padding:4%;
margin-top: 5vw;
text-align: center;
animation-name: a2;
animation-duration: 7s;
animation-iteration-count: infinite;
border:4px solid violet;
animation-fill-mode: forwards;

}

input.a{
margin-top:20px;
}

@keyframes a2{

    25%{border: 4px solid palevioletred;}
    50%{border: 4px solid rgb(171, 121, 218);}
    75%{border: 4px solid rgb(158, 215, 241);}
    
    
    }


button{
width:13vw;
margin-left:20vw;
margin-bottom: 3vw;
border-radius: 30px;
font-size:2vw;
margin-top: 6vw;
background-color: white;
animation-name: a3;
animation-duration: 7s;
 animation-iteration-count: infinite;
border:none;
color:rgb(120, 72, 72);
animation-fill-mode: forwards;
background-color: violet;


}

@keyframes a3{

    25%{background-color: palevioletred;
        border: 4px solid palevioletred;}
    50%{
        background-color:rgb(174, 114, 230);
       border: 4px solid blueviolet;}
    70%{
        background-color:rgb(158, 215, 241);
        border: 4px solid rgb(158, 215, 241);}
    
    
    }


      .inf{
       position:absolute;
       right:10px;
       top:40px;
      } 
      
      .bb{position:absolute;
        top:-1px;
    opacity:0;
}


      .inf:hover p {
        margin-left: 1%;
        width:110px;
       font-size: 15px;
       border-radius: 0px  95px  95px 95px;;
        background-color: pink;
        opacity:1.5;
      } 

.inf:hover img{opacity:0;}


.m2m{width:340px;
  height:40px;
  position: absolute;
  top:17%;
  left: 10%;
  font-size: 80%;
  

}



 

.m3m{
  width:340px;
  height:40px;
  position: absolute;
  top:79%;
  left: 10%;
  font-size: 80%;
}


.m4m{
  width:340px;
  height:40px;
  position: absolute;
  top:38%;
  left: 10%;
  font-size: 80%;
}

#nm{
  position:relative;
  left:-10vw;
  top:10px;
}



.nm{
  background-color: black !important;
  color: white !important;
 
  }